@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

$background: #242424;
$text-primary: #FFFFFF;

:root {
  background-color: $background;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  color: $text-primary;
}

#app {
  position: relative;
}

#webgl {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#contact {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: black;
  font-size: 14px;
  z-index: 2;
}

#loading-screen {
  font-weight: 300;
  color: black;
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
