@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$background: #242424;
$text-primary: #FFFFFF;

:root {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  color: $text-primary;
}
